love-reminder-telegram-bot-1YIWXzcmfJY54L0q.json
{"createdAt":"2025-10-27T10:33:19.394Z","updatedAt":"2025-11-03T23:51:53.000Z","id":"1YIWXzcmfJY54L0q","name":"Love Reminder Telegram Bot","active":true,"isArchived":false,"nodes":[{"parameters":{"jsCode":"// Function Node — human version of 365 love reminders\nconst loveMessages = [\n  \"Just wanted to remind you how much I love you.\",\n  \"You make everything in my life feel softer, warmer, better.\",\n  \"I still get the same feeling when I think about you as the first day we met.\",\n  \"You're the best part of my every day.\",\n  \"I hope you know how loved you are right now.\",\n  \"You never leave my mind, even when I’m busy.\",\n  \"I miss you a little more than usual today.\",\n  \"You’re my calm in every kind of storm.\",\n  \"Everything feels lighter when you’re near.\",\n  \"I don’t say it every second, but I feel it every second — I love you.\",\n  \"You have no idea how much I adore you.\",\n  \"You still make me nervous in the best way.\",\n  \"Every version of my day gets better when you’re in it.\",\n  \"You’re my favorite person in the whole timeline.\",\n  \"No one feels like you. No one ever will.\",\n  \"You make me want to be softer with the world.\",\n  \"You’re my comfort thought when everything else feels too loud.\",\n  \"You’re the reason I smile at random moments.\",\n  \"I’d still choose you, even if I had to meet you all over again.\",\n  \"You’re the most consistent piece of peace in my life.\",\n  \"Thinking about you. That’s it. That’s the message.\",\n  \"You make simple moments feel like something worth remembering.\",\n  \"I never get tired of you. Not once.\",\n  \"You're my favorite habit that I never want to break.\",\n  \"Somehow you make ordinary days feel special.\",\n  \"You're the best person I know. It’s not even close.\",\n  \"You’re the safest place I’ve ever found.\",\n  \"You don’t even have to do anything — just existing makes me happy.\",\n  \"I still look forward to every text from you.\",\n  \"I’m proud of you, always. Even when you forget to be proud of yourself.\",\n  \"You make me feel lucky in ways I can’t explain.\",\n  \"You make time feel slower, softer, kinder.\",\n  \"Every small thing you do stays with me longer than you think.\",\n  \"You don’t need to be perfect — you already mean everything to me.\",\n  \"You’re the first person I want to tell everything to.\",\n  \"I still catch myself smiling when I think of you.\",\n  \"You’ve got that quiet kind of magic that I can’t get over.\",\n  \"You’re my favorite reason to look at my phone.\",\n  \"You make life feel less heavy just by being in it.\",\n  \"I love you, in every way that matters.\",\n  \"You always make me feel like I’m home.\",\n  \"You’re the kind of person I used to hope existed.\",\n  \"You’re everything good about my day.\",\n  \"You’re the part of my life that never feels like work.\",\n  \"I still don’t fully believe I get to love you.\",\n  \"Even when we’re quiet, I feel close to you.\",\n  \"You’re the best decision I’ve ever made.\",\n  \"You’ve got the kind of soul I never want to stop learning.\",\n  \"I love how safe it feels to be myself around you.\",\n  \"You’re the one person who makes everything make sense.\",\n  \"You’re the gentle I didn’t know I needed.\",\n  \"You make love feel easy to believe in.\",\n  \"You’re my favorite part of every memory.\",\n  \"You’re what peace feels like in human form.\",\n  \"No one makes me feel understood the way you do.\",\n  \"Even when I don’t say much, I’m still thinking about you.\",\n  \"You make the world feel like it’s on my side.\",\n  \"You’re the best part of my story so far.\",\n  \"You’re everything I didn’t know I was missing.\",\n  \"You make small moments mean something big.\",\n  \"You’re not just loved — you’re deeply known.\",\n  \"You make my bad days less sharp.\",\n  \"You make love feel like a steady heartbeat.\",\n  \"You’re my favorite constant in a world that keeps changing.\",\n  \"You’re the reason ordinary things feel magical.\",\n  \"You make me laugh in the middle of stress. That’s a superpower.\",\n  \"I’m really lucky to love someone like you.\",\n  \"You’re my peace after every long day.\",\n  \"You make loving you the easiest thing I’ve ever done.\",\n  \"I’ll never get tired of choosing you.\",\n  \"You make my world quieter in the best way.\",\n  \"You’re the softest part of my every day.\",\n  \"You’re not just my favorite person — you’re my favorite feeling.\",\n  \"You’ve got this quiet strength I admire every day.\",\n  \"You’re the person I always want to come home to.\",\n  \"You’re still my favorite kind of chaos.\",\n  \"You make every ordinary thing worth doing.\",\n  \"Even distance can’t dull what I feel for you.\",\n  \"You’re the only person who feels like peace and adventure at the same time.\",\n  \"You make me want to do better without ever asking me to.\",\n  \"You’re the calm to my overthinking.\",\n  \"You’re the best part of every plan, even the unplanned ones.\",\n  \"You make my whole life feel like a love letter.\",\n  \"You’re still the one person I want to talk to about everything.\",\n  \"I hope you feel how much I love you, even in silence.\",\n  \"You’re my favorite part of every morning and night.\",\n  \"You make me love existing a little more.\",\n  \"You’re the person who makes ordinary moments unforgettable.\",\n  \"You’re the peace I didn’t know I was missing.\",\n  \"I don’t need a reason — I just love you.\",\n  \"You’re the kind of person people write poems about. I just text you instead.\",\n  \"You’re the softest part of my heart.\",\n  \"You make life taste better somehow.\",\n  \"Even after all this time, I still feel lucky.\",\n  \"You’re my favorite accident that turned into everything right.\",\n  \"You make everything feel a little more alive.\",\n  \"I love you in all the quiet ways too.\",\n  \"You make me want to stay — always.\",\n  \"You’re my person, plain and simple.\",\n  \"Every day with you feels like proof that love can be kind.\",\n  \"You’re still the best surprise life ever gave me.\",\n  \"You make time feel like it’s worth something.\",\n  \"You’re my small reminder that I got something right in this life.\",\n  \"I love you — and it’s not even close to fading.\",\n  \"You make me feel seen in ways I didn’t know I needed.\",\n  \"You make me want to text slower so the moment lasts longer.\",\n  \"You’re my favorite notification forever.\",\n  \"You make this whole existing thing make sense.\",\n  \"You’re the heartbeat behind everything I do.\",\n  \"You make the future feel like something I actually want to see.\"\n];\n\n// Random selection\nconst randomIndex = Math.floor(Math.random() * loveMessages.length);\nreturn [{ json: { message: loveMessages[randomIndex] } }];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-240,0],"id":"4beef521-eef7-4501-9a73-54bf5e72caec","name":"Code"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"4755388c-c8cf-42fa-85ae-d2594ef10a53","leftValue":"={{$json[\"error\"]}}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[496,0],"id":"03fe8055-651a-4ee1-88b6-3f24a196bf0d","name":"If"},{"parameters":{"chatId":"360503313","text":"=❌ Message failed to send!\n\nError message: {{$json[\"error\"][\"message\"] || \"Unknown error\"}}\nStack: {{$json[\"error\"][\"stack\"] || \"No stack\"}}\nTime: {{$now}}\n","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[736,-96],"id":"84452504-09b4-4cdc-9e12-9b817e442174","name":"Sends Error Messages to @n8nerrors1bot","webhookId":"cd030e67-332a-44a7-a254-b8c5b7ccf660","credentials":{"telegramApi":{"id":"Ut5lobZGAyeFs3qb","name":"n8nerror1bot"}}},{"parameters":{"chatId":"1094685981","text":"={{ $json[\"message\"] }}","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[272,0],"id":"63fe455f-40ef-472f-9f61-5be7e22ff4c0","name":"Sends Love Messages to @foreverlovereminderbot","webhookId":"cd030e67-332a-44a7-a254-b8c5b7ccf660","alwaysOutputData":true,"credentials":{"telegramApi":{"id":"g3yfj5JhF1uCuuAr","name":"foreverlovereminderbot"}},"onError":"continueRegularOutput"},{"parameters":{"chatId":"360503313","text":"=✅ Message sent successfully!\n\nMessage content:\n“{{ $json[\"message\"] || $node[\"Code\"].json[\"message\"] }}”\n\nSent at: {{ $json[\"timestamp\"] || $node[\"Code\"].json[\"timestamp\"] || $now }}\n","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[736,80],"id":"8a65bddb-aa41-4516-a4eb-fa99a26fc914","name":"Sends Error Messages to @n8nerrors1bot1","webhookId":"cd030e67-332a-44a7-a254-b8c5b7ccf660","credentials":{"telegramApi":{"id":"Ut5lobZGAyeFs3qb","name":"n8nerror1bot"}}},{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"0 0 8 * * *"}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-464,-96],"id":"6ac4b926-973e-442c-b160-18b954378af2","name":"Schedule Trigger 8AM"},{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"0 0 21 * * *"}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-464,80],"id":"a9121331-b948-4ac4-8de9-423e499057ae","name":"Schedule Trigger 9PM"},{"parameters":{"content":"## TIME TRIGGER\nWill trigger at\n8.00AM\n9.00PM\n","height":464,"width":192},"type":"n8n-nodes-base.stickyNote","position":[-512,-240],"typeVersion":1,"id":"a9af5910-c1ae-4490-bc5e-18e7cd95cf73","name":"Sticky Note"},{"parameters":{"content":"## SENTENCE RANDOMIZER\nWill choose between 100 sentences written","height":256,"width":198,"color":4},"type":"n8n-nodes-base.stickyNote","position":[-288,-128],"typeVersion":1,"id":"13d771c8-0902-4d84-b54d-dcc6d73f834b","name":"Sticky Note1"},{"parameters":{"content":"## SEND MESSAGE TO @foreverlovereminderbot\nSend message to @foreverlovereminderbot","height":384,"width":214,"color":5},"type":"n8n-nodes-base.stickyNote","position":[208,-208],"typeVersion":1,"id":"8b37abf4-b9e8-47a7-87d0-efe55430006e","name":"Sticky Note2"},{"parameters":{"content":"## ELSE IF ERROR CHECK\nDepends on output of SEND MESSAGE TO @foreverlovereminderbot","height":304,"width":198,"color":4},"type":"n8n-nodes-base.stickyNote","position":[448,-160],"typeVersion":1,"id":"21313550-2543-4b8f-924b-5a69eff6bbb5","name":"Sticky Note3"},{"parameters":{"content":"## ELSE IF ERROR CHECK\nDepends on output of SEND MESSAGE TO @foreverlovereminderbot","height":512,"width":246,"color":5},"type":"n8n-nodes-base.stickyNote","position":[672,-256],"typeVersion":1,"id":"05598ca0-01b6-4bf4-9318-5b0faa697fd4","name":"Sticky Note4"},{"parameters":{"updates":["message"],"additionalFields":{"chatIds":"360503313"}},"type":"n8n-nodes-base.telegramTrigger","typeVersion":1.2,"position":[-464,400],"id":"63ce04a9-be37-492b-ba20-d79b5ef5eb47","name":"Telegram Trigger","webhookId":"b906b063-9c10-4e15-a176-65cd6517a159","alwaysOutputData":true,"credentials":{"telegramApi":{"id":"n53hiCHeu7Tama8o","name":"n8nInputTrigger"}}},{"parameters":{"operation":"sendPhoto","chatId":"360503313","file":"={{ $json[\"quotedImage\"] }}","additionalFields":{"caption":"={{ $json[\"message\"] }}"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[272,336],"id":"9b724642-095b-4218-821c-432f033b558b","name":"Sends Love Messages to @foreverlovereminderbot1","webhookId":"cd030e67-332a-44a7-a254-b8c5b7ccf660","alwaysOutputData":true,"credentials":{"telegramApi":{"id":"2PwBmVu7uFbXqgNW","name":"TestEnvirontmentbot"}},"onError":"continueRegularOutput"},{"parameters":{"content":"## INPUT TRIGGER\nWill trigger when User send text on @n8nInputTriggerbot","height":320,"width":192},"type":"n8n-nodes-base.stickyNote","position":[-512,240],"typeVersion":1,"id":"a15de0f2-0f4f-44a5-b753-38d77d42d173","name":"Sticky Note5"},{"parameters":{"content":"## TEST ENVIRONMENT BOT\nUse when neccessary","height":304,"width":336,"color":7},"type":"n8n-nodes-base.stickyNote","position":[-1040,-128],"typeVersion":1,"id":"03e953d7-6f65-4e75-bb65-5dc492a2042e","name":"Sticky Note6"},{"parameters":{"url":"https://api.unsplash.com/photos/random?query=nature&orientation=squarish&content_filter=high&client_id=icHEQVe21tHg9jjipy73j0myX_3gjIEuQ8kRISaLL_8","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-240,224],"id":"ef47ffd9-64d0-4c25-9311-c233fdbf21f9","name":"Fetch Nature Image","retryOnFail":true,"waitBetweenTries":2000,"alwaysOutputData":true},{"parameters":{"jsCode":"// === Step 1: Get Telegram message ===\nconst textData = $items(\"Filter Text from @n8nInputTrigger\")[0].json;\nconst message = textData.message?.trim() || \"Inner peace.\";\nconst chat_id = textData.chat_id || 360503313;\n\n// === Step 2: Get Unsplash image URL ===\nconst imageData = $items(\"Fetch Nature Image\")[0].json;\nconst unsplashUrl = imageData.urls?.regular || \"https://images.unsplash.com/photo-1506744038136-46273834b3fb\";\n\n// === Step 3: Clean and encode text ===\nconst cleanedText = message.replace(/\"/g, '').trim();\nconst encodedText = encodeURIComponent(cleanedText);\n\n// === Step 4: Build ImageKit URL ===\n// Replace 'meorhakimi' with your actual ImageKit ID (from dashboard)\nconst baseEndpoint = \"https://ik.imagekit.io/meorhakimi/External/\";\n\n// ImageKit transformation options\n// - w_800,h_800: resize to 800x800\n// - fo-auto: smart focus\n// - e-grayscale: optional (remove if you prefer color)\n// - l-text: adds overlay text\n// - co_white: white text color\n// - bg-black overlay for readability\nconst imagekitURL = `${baseEndpoint}${unsplashUrl}?tr=w-800,h-800,fo-auto,l-text,i-Arial_48_bold:${encodedText},co_white,g-south,y-40,bg-black,e-colorize:20,co_rgb:000000`;\n\n// === Step 5: Return final payload ===\nreturn [\n  {\n    json: {\n      chat_id,\n      message,\n      unsplashUrl,\n      quotedImage: imagekitURL\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[0,336],"id":"40c9ca31-975d-4369-95dd-b3b115f6cb8c","name":"Combine Image and Text","alwaysOutputData":true},{"parameters":{"jsCode":"// Step 2: Filter Unsplash response for search tags + topics\n\n// Some Unsplash API responses come as an array (e.g., [ { ... } ])\n// so we grab the first item if needed.\nconst root = Array.isArray($json) ? $json[0] : $json;\n\n// Safe fallbacks\nconst tags = root.tags || [];\nconst topics = root.topics || [];\n\n// Filter only { type: \"search\" }\nconst searchTags = tags.filter(t => t.type === \"search\");\nconst tagTitles = searchTags.map(t => t.title);\n\n// Pick one random tag for the next step\nconst randomTag = tagTitles.length > 0\n  ? tagTitles[Math.floor(Math.random() * tagTitles.length)]\n  : null;\n\n// Extract topic titles\nconst topicTitles = topics.map(t => t.title);\n\n// Return tidy structure\nreturn [\n  {\n    json: {\n      tagCount: tagTitles.length,\n      tags: tagTitles,\n      randomTag,\n      topics: topicTitles\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-976,288],"id":"94de5868-4cfb-41d8-b0af-c96c37d7aa5c","name":"Filter Data of Image","alwaysOutputData":true},{"parameters":{"mode":"runOnceForEachItem","jsCode":"const input = item.json;\n\n// Adjust based on your payload structure\nconst text = input.message?.text || input.body?.message?.text || \"No text found\";\n\nreturn {\n  json: {\n    message: text,\n    chat_id: 360503313\n  }\n};\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-240,400],"id":"0b384e48-990b-488c-a491-0e444d1d6011","name":"Filter Text from @n8nInputTrigger","alwaysOutputData":true}],"connections":{"Code":{"main":[[{"node":"Sends Love Messages to @foreverlovereminderbot","type":"main","index":0}]]},"If":{"main":[[{"node":"Sends Error Messages to @n8nerrors1bot","type":"main","index":0}],[{"node":"Sends Error Messages to @n8nerrors1bot1","type":"main","index":0}]]},"Sends Love Messages to @foreverlovereminderbot":{"main":[[{"node":"If","type":"main","index":0}]]},"Schedule Trigger 8AM":{"main":[[{"node":"Code","type":"main","index":0}]]},"Schedule Trigger 9PM":{"main":[[{"node":"Code","type":"main","index":0}]]},"Telegram Trigger":{"main":[[{"node":"Filter Text from @n8nInputTrigger","type":"main","index":0},{"node":"Fetch Nature Image","type":"main","index":0}]]},"Sends Love Messages to @foreverlovereminderbot1":{"main":[[]]},"Fetch Nature Image":{"main":[[{"node":"Combine Image and Text","type":"main","index":0}]]},"Filter Data of Image":{"main":[[]]},"Filter Text from @n8nInputTrigger":{"main":[[{"node":"Combine Image and Text","type":"main","index":0}]]},"Combine Image and Text":{"main":[[{"node":"Sends Love Messages to @foreverlovereminderbot1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]},"node:Schedule Trigger1":{"recurrenceRules":[]},"node:Schedule Trigger 8AM":{"recurrenceRules":[]},"node:Schedule Trigger 9PM":{"recurrenceRules":[]},"node:Schedule Trigger TEST":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{"Schedule Trigger 8AM":[{"json":{"timestamp":"2025-10-20T16:27:10.058+08:00","Readable date":"October 20th 2025, 4:27:10 pm","Readable time":"4:27:10 pm","Day of week":"Monday","Year":"2025","Month":"October","Day of month":"20","Hour":"16","Minute":"27","Second":"10","Timezone":"Asia/Kuala_Lumpur (UTC+08:00)"}}],"Schedule Trigger 9PM":[{"json":{"timestamp":"2025-10-20T16:27:10.058+08:00","Readable date":"October 20th 2025, 4:27:10 pm","Readable time":"4:27:10 pm","Day of week":"Monday","Year":"2025","Month":"October","Day of month":"20","Hour":"16","Minute":"27","Second":"10","Timezone":"Asia/Kuala_Lumpur (UTC+08:00)"}}]},"versionId":"c00e1ae7-eba5-464e-8809-8080c4232768","triggerCount":3,"shared":[{"createdAt":"2025-10-27T10:33:19.400Z","updatedAt":"2025-10-27T10:33:19.400Z","role":"workflow:owner","workflowId":"1YIWXzcmfJY54L0q","projectId":"LidTUN3any30bZNY"}],"tags":[]}