test-environment-KSrUo6Q0iXU2eI1h.json
{"createdAt":"2025-11-03T19:30:02.619Z","updatedAt":"2025-11-04T01:09:16.000Z","id":"KSrUo6Q0iXU2eI1h","name":"Test Environment","active":false,"isArchived":false,"nodes":[{"parameters":{"updates":["message"],"additionalFields":{"chatIds":"360503313"}},"type":"n8n-nodes-base.telegramTrigger","typeVersion":1.2,"position":[-320,48],"id":"402b11fe-07f1-4ed0-8696-36f2bc2b4d14","name":"Telegram Trigger","webhookId":"b906b063-9c10-4e15-a176-65cd6517a159","alwaysOutputData":true,"credentials":{"telegramApi":{"id":"n53hiCHeu7Tama8o","name":"n8nInputTrigger"}}},{"parameters":{"operation":"sendPhoto","chatId":"360503313","file":"={{ $json[\"quotedImage\"] }}","additionalFields":{"caption":"={{ $json[\"message\"] }}"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[640,32],"id":"a6f4fe6e-d7d3-465c-bed0-670b80224263","name":"Sends Love Messages to @foreverlovereminderbot1","webhookId":"cd030e67-332a-44a7-a254-b8c5b7ccf660","alwaysOutputData":true,"credentials":{"telegramApi":{"id":"2PwBmVu7uFbXqgNW","name":"TestEnvirontmentbot"}},"onError":"continueRegularOutput"},{"parameters":{"content":"## INPUT TRIGGER\nWill trigger when User send text on @n8nInputTriggerbot","height":320,"width":192},"type":"n8n-nodes-base.stickyNote","position":[-368,-112],"typeVersion":1,"id":"7f72bded-7727-4b54-adba-27ade767b031","name":"Sticky Note5"},{"parameters":{"url":"https://api.unsplash.com/photos/random?query={{$json[\"message\"] || 'nature'}}&orientation=squarish&content_filter=high&client_id=icHEQVe21tHg9jjipy73j0myX_3gjIEuQ8kRISaLL_8","options":{"response":{"response":{"responseFormat":"file"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-96,-144],"id":"69433af0-6b48-40a5-bc60-0b0860b42c10","name":"Fetch Nature Image","retryOnFail":true,"waitBetweenTries":2000,"alwaysOutputData":true},{"parameters":{"mode":"runOnceForEachItem","jsCode":"// === Step 1: Get Telegram message ===\nconst textData = $items(\"Filter Text from @n8nInputTrigger\")[0].json;\nconst message = textData.message?.trim() || \"Inner peace.\";\nconst chat_id = textData.chat_id || 360503313;\n\n// === Step 2: Get Unsplash image URL ===\nconst imageData = $items(\"Fetch Nature Image\")[0].json;\nconst unsplashUrl =\n  imageData.urls?.regular ||\n  \"https://images.unsplash.com/photo-1506744038136-46273834b3fb\";\n\n// === Step 3: Clean and encode text ===\nconst cleanedText = message.replace(/\"/g, '').trim();\nconst encodedText = encodeURIComponent(cleanedText);\n\n// === Step 4: Build ImageKit URL (only overlay text) ===\n// ImageKit will fetch the Unsplash image as-is and just overlay your text.\nconst baseEndpoint = \"https://ik.imagekit.io/meorhakimi/External/\";\nconst encodedUnsplashUrl = encodeURIComponent(unsplashUrl);\n\n// ot → overlay text\n// ots → text size (48px)\n// otc → text color (white)\n// otbg → semi-transparent black background\n// otp → position (50% x, 90% y)\nconst imagekitURL = `${baseEndpoint}${encodedUnsplashUrl}?tr=ot-${encodedText},ots-48,otc-FFFFFF,otbg-00000080,otp-50_90`;\n\n// === Step 5: Return single object ===\nreturn {\n  json: {\n    chat_id,\n    message,\n    unsplashUrl,\n    quotedImage: imagekitURL\n  }\n};\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[304,-416],"id":"1f47f4ea-c429-4ef8-99a8-f4bce6170603","name":"Combine Image and Text","alwaysOutputData":true},{"parameters":{"mode":"runOnceForEachItem","jsCode":"const input = $json;\n\n// Safely extract text from Telegram payload\nconst text = input.message?.text || input.body?.message?.text || \"No text found\";\n\n// Return a single object for this item\nreturn {\n  json: {\n    message: text,\n  }\n};\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-96,48],"id":"f05b93e4-2d21-4e89-aefc-2a4fc1646207","name":"Filter Text from @n8nInputTrigger","alwaysOutputData":true,"executeOnce":false},{"parameters":{"operation":"text","text":"={{$json[\"message\"]}}","fontSize":42,"fontColor":"#FFFFFF","positionX":100,"positionY":950,"lineLength":60,"options":{}},"type":"n8n-nodes-base.editImage","typeVersion":1,"position":[368,16],"id":"3bdf584f-61e1-45ad-b452-41a48196efd9","name":"Edit Image","alwaysOutputData":true},{"parameters":{"url":"={{$json[\"urls\"][\"regular\"]}}","options":{"response":{"response":{"responseFormat":"file"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[416,-240],"id":"65b92e4a-7e21-4e78-a6bd-ad840ddc886d","name":"Downloads Image and Stores in Binary Form","alwaysOutputData":false},{"parameters":{"jsCode":"return {\n  binary: item.binary,  // keep image binary\n  json: {}              // clear out unnecessary fields\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[64,-144],"id":"b7d70da7-b827-4c4d-b67c-0959f6efd2d1","name":"Code in JavaScript"},{"parameters":{"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-160,-352],"id":"ed5392dc-4fe2-4025-9086-dd6873dd9976","name":"Edit Fields"},{"parameters":{"content":"## BISMILLAH EZ\n","height":80,"width":192},"type":"n8n-nodes-base.stickyNote","position":[64,-560],"typeVersion":1,"id":"3f841526-c68c-43e7-b1a7-6777283fd531","name":"Sticky Note"}],"connections":{"Telegram Trigger":{"main":[[{"node":"Filter Text from @n8nInputTrigger","type":"main","index":0},{"node":"Fetch Nature Image","type":"main","index":0}]]},"Fetch Nature Image":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]},"Combine Image and Text":{"main":[[]]},"Filter Text from @n8nInputTrigger":{"main":[[{"node":"Edit Image","type":"main","index":0}]]},"Edit Image":{"main":[[{"node":"Sends Love Messages to @foreverlovereminderbot1","type":"main","index":0}]]},"Downloads Image and Stores in Binary Form":{"main":[[]]},"Code in JavaScript":{"main":[[]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"2e5f41d4-573c-45ba-9f9d-06a727f631e5","triggerCount":0,"shared":[{"createdAt":"2025-11-03T19:30:02.643Z","updatedAt":"2025-11-03T19:30:02.643Z","role":"workflow:owner","workflowId":"KSrUo6Q0iXU2eI1h","projectId":"LidTUN3any30bZNY"}],"tags":[]}