test-environment-KSrUo6Q0iXU2eI1h.json
{"createdAt":"2025-11-03T19:30:02.619Z","updatedAt":"2025-11-05T09:05:44.000Z","id":"KSrUo6Q0iXU2eI1h","name":"Test Environment","active":false,"isArchived":false,"nodes":[{"parameters":{"updates":["message"],"additionalFields":{"chatIds":"360503313"}},"type":"n8n-nodes-base.telegramTrigger","typeVersion":1.2,"position":[-1552,-224],"id":"402b11fe-07f1-4ed0-8696-36f2bc2b4d14","name":"Telegram Trigger","webhookId":"b906b063-9c10-4e15-a176-65cd6517a159","alwaysOutputData":true,"credentials":{"telegramApi":{"id":"n53hiCHeu7Tama8o","name":"n8nInputTrigger"}},"disabled":true},{"parameters":{"operation":"sendPhoto","chatId":"360503313","binaryData":true,"additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-672,-240],"id":"a6f4fe6e-d7d3-465c-bed0-670b80224263","name":"Sends Love Messages to @foreverlovereminderbot1","webhookId":"cd030e67-332a-44a7-a254-b8c5b7ccf660","alwaysOutputData":true,"credentials":{"telegramApi":{"id":"2PwBmVu7uFbXqgNW","name":"TestEnvirontmentbot"}},"disabled":true,"onError":"continueRegularOutput"},{"parameters":{"url":"https://api.unsplash.com/photos/random?query=nature&orientation=squarish&content_filter=high&client_id=icHEQVe21tHg9jjipy73j0myX_3gjIEuQ8kRISaLL_8","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1216,-336],"id":"69433af0-6b48-40a5-bc60-0b0860b42c10","name":"Fetch Nature Image","retryOnFail":true,"waitBetweenTries":2000,"alwaysOutputData":true},{"parameters":{"mode":"runOnceForEachItem","jsCode":"// === Step 1: Get Telegram message ===\nconst textData = $items(\"Filter Text from @n8nInputTrigger\")[0].json;\nconst message = textData.message?.trim() || \"Inner peace.\";\nconst chat_id = textData.chat_id || 360503313;\n\n// === Step 2: Get Unsplash image URL ===\nconst imageData = $items(\"Fetch Nature Image\")[0].json;\nconst unsplashUrl =\n  imageData.urls?.regular ||\n  \"https://images.unsplash.com/photo-1506744038136-46273834b3fb\";\n\n// === Step 3: Clean and encode text ===\nconst cleanedText = message.replace(/\"/g, '').trim();\nconst encodedText = encodeURIComponent(cleanedText);\n\n// === Step 4: Build ImageKit URL (only overlay text) ===\n// ImageKit will fetch the Unsplash image as-is and just overlay your text.\nconst baseEndpoint = \"https://ik.imagekit.io/meorhakimi/External/\";\nconst encodedUnsplashUrl = encodeURIComponent(unsplashUrl);\n\n// ot → overlay text\n// ots → text size (48px)\n// otc → text color (white)\n// otbg → semi-transparent black background\n// otp → position (50% x, 90% y)\nconst imagekitURL = `${baseEndpoint}${encodedUnsplashUrl}?tr=ot-${encodedText},ots-48,otc-FFFFFF,otbg-00000080,otp-50_90`;\n\n// === Step 5: Return single object ===\nreturn {\n  json: {\n    chat_id,\n    message,\n    unsplashUrl,\n    quotedImage: imagekitURL\n  }\n};\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[304,-416],"id":"1f47f4ea-c429-4ef8-99a8-f4bce6170603","name":"Combine Image and Text","alwaysOutputData":true},{"parameters":{"mode":"runOnceForEachItem","jsCode":"const input = $json;\n\n// Safely extract text from Telegram payload\nconst text = input.message?.text || input.body?.message?.text || \"No text found\";\n\n// Return a single object for this item\nreturn {\n  json: {\n    message: text,\n  }\n};\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1376,-224],"id":"f05b93e4-2d21-4e89-aefc-2a4fc1646207","name":"Filter Text from @n8nInputTrigger","alwaysOutputData":true,"executeOnce":false},{"parameters":{"operation":"text","text":"={{ $json.message }}","fontSize":42,"fontColor":"#FFFFFF","positionX":100,"positionY":950,"lineLength":60,"options":{}},"type":"n8n-nodes-base.editImage","typeVersion":1,"position":[-800,-240],"id":"3bdf584f-61e1-45ad-b452-41a48196efd9","name":"Edit Image","alwaysOutputData":true},{"parameters":{"url":"={{$json[\"urls\"][\"regular\"]}}","options":{"response":{"response":{"responseFormat":"file"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[112,-416],"id":"65b92e4a-7e21-4e78-a6bd-ad840ddc886d","name":"Downloads Image and Stores in Binary Form","alwaysOutputData":false},{"parameters":{"jsCode":"return {\n  binary: item.binary,  // keep image binary\n  json: {}              // clear out unnecessary fields\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[448,-320],"id":"b7d70da7-b827-4c4d-b67c-0959f6efd2d1","name":"Code in JavaScript"},{"parameters":{"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-80,-416],"id":"ed5392dc-4fe2-4025-9086-dd6873dd9976","name":"Edit Fields"},{"parameters":{"content":"## BISMILLAH EZ\n","height":80,"width":192},"type":"n8n-nodes-base.stickyNote","position":[64,-560],"typeVersion":1,"id":"3f841526-c68c-43e7-b1a7-6777283fd531","name":"Sticky Note"},{"parameters":{"url":"={{$json[\"urls\"][\"regular\"]}}","options":{"response":{"response":{"responseFormat":"file"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1088,-336],"id":"c428f094-384f-46b8-84a0-62b583949276","name":"Download Image"},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[-928,-240],"id":"28fc8701-cfd3-48fe-9f93-6c5bf13d278b","name":"Merge"},{"parameters":{"content":"## TEST ENVIRONMENT BOT\nUse when neccessary","height":272,"width":336,"color":7},"type":"n8n-nodes-base.stickyNote","position":[-1072,640],"typeVersion":1,"id":"60edd8cd-6e8e-4736-8116-4262e079fb89","name":"Sticky Note6"},{"parameters":{"chatId":"360503313","text":"={{ $json.messagelast }}","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-976,736],"id":"809ab868-de1b-43be-9b0f-6deaf1d4f6f6","name":"Sends Messages to @testenvironmentbot","webhookId":"cd030e67-332a-44a7-a254-b8c5b7ccf660","alwaysOutputData":true,"credentials":{"telegramApi":{"id":"2PwBmVu7uFbXqgNW","name":"TestEnvirontmentbot"}},"onError":"continueRegularOutput"},{"parameters":{"content":"## Text Overlay Image Set","height":368,"width":1120},"type":"n8n-nodes-base.stickyNote","position":[-1600,-400],"typeVersion":1,"id":"e05f2db6-8789-480a-a731-b18c1a90aa08","name":"Sticky Note8"},{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"0 0 8 * * *"}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-144,496],"id":"caee9ffa-64d1-4a00-91bb-e07c8f5464f7","name":"Schedule Trigger 8AM"},{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"0 0 21 * * *"}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-144,672],"id":"093248a6-30cb-4c24-a441-41be07315d00","name":"Schedule Trigger 9PM"},{"parameters":{"content":"## SENTENCE RANDOMIZER\nWill choose between 100 sentences written","height":256,"width":198,"color":4},"type":"n8n-nodes-base.stickyNote","position":[32,464],"typeVersion":1,"id":"f2ec5283-b120-4644-92ce-9f57a98d2c2a","name":"Sticky Note1"},{"parameters":{"content":"## SEND MESSAGE TO @foreverlovereminderbot\nSend message to @foreverlovereminderbot","height":384,"width":214,"color":5},"type":"n8n-nodes-base.stickyNote","position":[976,544],"typeVersion":1,"id":"5d0a32c7-74d0-4554-b479-e5386fc97cba","name":"Sticky Note2"},{"parameters":{"content":"## ELSE IF ERROR CHECK\nDepends on output of SEND MESSAGE TO @foreverlovereminderbot","height":672,"width":214,"color":4},"type":"n8n-nodes-base.stickyNote","position":[1312,592],"typeVersion":1,"id":"4408b451-4983-4b21-abc9-2082c96a27ed","name":"Sticky Note3"},{"parameters":{"content":"## ELSE IF ERROR CHECK\nDepends on output of SEND MESSAGE TO @foreverlovereminderbot","height":768,"width":246,"color":5},"type":"n8n-nodes-base.stickyNote","position":[1536,496],"typeVersion":1,"id":"bd1269e9-9476-4be2-af19-743585f39de1","name":"Sticky Note4"},{"parameters":{"updates":["message"],"additionalFields":{"chatIds":"360503313"}},"type":"n8n-nodes-base.telegramTrigger","typeVersion":1.2,"position":[-144,1072],"id":"c9ea0d54-0d26-47e0-a4fe-baa69d807599","name":"Telegram Trigger1","webhookId":"b906b063-9c10-4e15-a176-65cd6517a159","alwaysOutputData":true,"retryOnFail":false,"credentials":{"telegramApi":{"id":"n53hiCHeu7Tama8o","name":"n8nInputTrigger"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"90b32b2a-4aee-4b55-8844-c1c955743c6d","leftValue":"={{ $json.message.text }}","rightValue":"t: ","operator":{"type":"string","operation":"startsWith"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[80,1072],"id":"48f21410-613d-431e-ba24-04c5cd204be0","name":"If1"},{"parameters":{"jsCode":"// Function Node — human version of 365 love reminders\nconst loveMessages = [\n  \"Just wanted to remind you how much I love you.\",\n  \"You make everything in my life feel softer, warmer, better.\",\n  \"I still get the same feeling when I think about you as the first day we met.\",\n  \"You're the best part of my every day.\",\n  \"I hope you know how loved you are right now.\",\n  \"You never leave my mind, even when I’m busy.\",\n  \"I miss you a little more than usual today.\",\n  \"You’re my calm in every kind of storm.\",\n  \"Everything feels lighter when you’re near.\",\n  \"I don’t say it every second, but I feel it every second — I love you.\",\n  \"You have no idea how much I adore you.\",\n  \"You still make me nervous in the best way.\",\n  \"Every version of my day gets better when you’re in it.\",\n  \"You’re my favorite person in the whole timeline.\",\n  \"No one feels like you. No one ever will.\",\n  \"You make me want to be softer with the world.\",\n  \"You’re my comfort thought when everything else feels too loud.\",\n  \"You’re the reason I smile at random moments.\",\n  \"I’d still choose you, even if I had to meet you all over again.\",\n  \"You’re the most consistent piece of peace in my life.\",\n  \"Thinking about you. That’s it. That’s the message.\",\n  \"You make simple moments feel like something worth remembering.\",\n  \"I never get tired of you. Not once.\",\n  \"You're my favorite habit that I never want to break.\",\n  \"Somehow you make ordinary days feel special.\",\n  \"You're the best person I know. It’s not even close.\",\n  \"You’re the safest place I’ve ever found.\",\n  \"You don’t even have to do anything — just existing makes me happy.\",\n  \"I still look forward to every text from you.\",\n  \"I’m proud of you, always. Even when you forget to be proud of yourself.\",\n  \"You make me feel lucky in ways I can’t explain.\",\n  \"You make time feel slower, softer, kinder.\",\n  \"Every small thing you do stays with me longer than you think.\",\n  \"You don’t need to be perfect — you already mean everything to me.\",\n  \"You’re the first person I want to tell everything to.\",\n  \"I still catch myself smiling when I think of you.\",\n  \"You’ve got that quiet kind of magic that I can’t get over.\",\n  \"You’re my favorite reason to look at my phone.\",\n  \"You make life feel less heavy just by being in it.\",\n  \"I love you, in every way that matters.\",\n  \"You always make me feel like I’m home.\",\n  \"You’re the kind of person I used to hope existed.\",\n  \"You’re everything good about my day.\",\n  \"You’re the part of my life that never feels like work.\",\n  \"I still don’t fully believe I get to love you.\",\n  \"Even when we’re quiet, I feel close to you.\",\n  \"You’re the best decision I’ve ever made.\",\n  \"You’ve got the kind of soul I never want to stop learning.\",\n  \"I love how safe it feels to be myself around you.\",\n  \"You’re the one person who makes everything make sense.\",\n  \"You’re the gentle I didn’t know I needed.\",\n  \"You make love feel easy to believe in.\",\n  \"You’re my favorite part of every memory.\",\n  \"You’re what peace feels like in human form.\",\n  \"No one makes me feel understood the way you do.\",\n  \"Even when I don’t say much, I’m still thinking about you.\",\n  \"You make the world feel like it’s on my side.\",\n  \"You’re the best part of my story so far.\",\n  \"You’re everything I didn’t know I was missing.\",\n  \"You make small moments mean something big.\",\n  \"You’re not just loved — you’re deeply known.\",\n  \"You make my bad days less sharp.\",\n  \"You make love feel like a steady heartbeat.\",\n  \"You’re my favorite constant in a world that keeps changing.\",\n  \"You’re the reason ordinary things feel magical.\",\n  \"You make me laugh in the middle of stress. That’s a superpower.\",\n  \"I’m really lucky to love someone like you.\",\n  \"You’re my peace after every long day.\",\n  \"You make loving you the easiest thing I’ve ever done.\",\n  \"I’ll never get tired of choosing you.\",\n  \"You make my world quieter in the best way.\",\n  \"You’re the softest part of my every day.\",\n  \"You’re not just my favorite person — you’re my favorite feeling.\",\n  \"You’ve got this quiet strength I admire every day.\",\n  \"You’re the person I always want to come home to.\",\n  \"You’re still my favorite kind of chaos.\",\n  \"You make every ordinary thing worth doing.\",\n  \"Even distance can’t dull what I feel for you.\",\n  \"You’re the only person who feels like peace and adventure at the same time.\",\n  \"You make me want to do better without ever asking me to.\",\n  \"You’re the calm to my overthinking.\",\n  \"You’re the best part of every plan, even the unplanned ones.\",\n  \"You make my whole life feel like a love letter.\",\n  \"You’re still the one person I want to talk to about everything.\",\n  \"I hope you feel how much I love you, even in silence.\",\n  \"You’re my favorite part of every morning and night.\",\n  \"You make me love existing a little more.\",\n  \"You’re the person who makes ordinary moments unforgettable.\",\n  \"You’re the peace I didn’t know I was missing.\",\n  \"I don’t need a reason — I just love you.\",\n  \"You’re the kind of person people write poems about. I just text you instead.\",\n  \"You’re the softest part of my heart.\",\n  \"You make life taste better somehow.\",\n  \"Even after all this time, I still feel lucky.\",\n  \"You’re my favorite accident that turned into everything right.\",\n  \"You make everything feel a little more alive.\",\n  \"I love you in all the quiet ways too.\",\n  \"You make me want to stay — always.\",\n  \"You’re my person, plain and simple.\",\n  \"Every day with you feels like proof that love can be kind.\",\n  \"You’re still the best surprise life ever gave me.\",\n  \"You make time feel like it’s worth something.\",\n  \"You’re my small reminder that I got something right in this life.\",\n  \"I love you — and it’s not even close to fading.\",\n  \"You make me feel seen in ways I didn’t know I needed.\",\n  \"You make me want to text slower so the moment lasts longer.\",\n  \"You’re my favorite notification forever.\",\n  \"You make this whole existing thing make sense.\",\n  \"You’re the heartbeat behind everything I do.\",\n  \"You make the future feel like something I actually want to see.\"\n];\n\n// Random selection\nconst randomIndex = Math.floor(Math.random() * loveMessages.length);\nreturn [{ json: { message: loveMessages[randomIndex] } }];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[80,592],"id":"c5ec1b49-65cf-407c-a1a4-140e5b634aa9","name":"Sentence Randomiser"},{"parameters":{"jsCode":"// Input example: \"t:hello world\"\nconst text = $json.message.text || \"\";\n\n// Extract everything after \"t:\"\nconst result = text.replace(/^t:\\s*/, \"\"); \n\nreturn { result };\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[80,928],"id":"64e5b0a5-39c1-45e0-ad01-0d33ee46cf77","name":"Filter Text t:"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.message }}","rightValue":"={{ $json.result }}","operator":{"type":"string","operation":"exists","singleValue":true},"id":"d69b63f6-5d5e-45ff-8f8e-13deb4f5b2ef"}],"combinator":"and"},"renameOutput":true,"outputKey":"Sentence Randomiser"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"89a23960-d473-418d-ae80-265fd34388ca","leftValue":"={{ $json.result }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"Filter Text t:"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.3,"position":[288,752],"id":"ae62aad7-fe55-4299-82d2-0bde6af0946d","name":"Switch"},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-144,176],"id":"9ec40d04-8909-40fb-b3ac-d81feeffc80a","name":"Click Trigger"},{"parameters":{"content":"## TELEGRAM T: INPUT\nUser input t: (anything text)","height":304,"width":192},"type":"n8n-nodes-base.stickyNote","position":[-192,928],"typeVersion":1,"id":"011ac1df-a04e-4a86-9549-e3a16be27868","name":"Sticky Note7"},{"parameters":{"chatId":"360503313","text":"=✅ Message sent successfully!\n\nSent at: {{ $json.timestamp ?? $now }}\n\n","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1600,832],"id":"a2e350bb-7542-4bfb-84ea-91e163007019","name":"Sends Success Messages to @n8nerrors1bot1","webhookId":"cd030e67-332a-44a7-a254-b8c5b7ccf660","credentials":{"telegramApi":{"id":"Ut5lobZGAyeFs3qb","name":"n8nerror1bot"}}},{"parameters":{"chatId":"360503313","text":"=❌ Message failed to send!\n\nTime: {{ $now }}\n","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1600,656],"id":"3a606a91-688c-4b83-b064-c23373e8d47b","name":"Sends Fail Messages to @n8nerrors1bot","webhookId":"cd030e67-332a-44a7-a254-b8c5b7ccf660","credentials":{"telegramApi":{"id":"Ut5lobZGAyeFs3qb","name":"n8nerror1bot"}}},{"parameters":{"jsCode":"// Take whichever exists: message or result\nconst messagelast = $json.message || $json.result;\n\n// Output\nreturn [{ json: { messagelast } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[432,752],"id":"8acf3d3b-c0d2-4ed8-ab92-b0b1fe499bd4","name":"Messagelast","alwaysOutputData":true},{"parameters":{"operation":"sendPhoto","chatId":"360503313","binaryData":true,"additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1040,960],"id":"c5f2b045-d067-4029-977c-d9f5e8bad2f2","name":"Sends Love Photo","webhookId":"cd030e67-332a-44a7-a254-b8c5b7ccf660","alwaysOutputData":true,"credentials":{"telegramApi":{"id":"2PwBmVu7uFbXqgNW","name":"TestEnvirontmentbot"}},"onError":"continueRegularOutput"},{"parameters":{"chatId":"360503313","text":"={{ $json.messagelast }}","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1040,752],"id":"a5306ab5-a793-470d-a7dd-d488b8285960","name":"Sends Love Message","webhookId":"cd030e67-332a-44a7-a254-b8c5b7ccf660","alwaysOutputData":true,"credentials":{"telegramApi":{"id":"2PwBmVu7uFbXqgNW","name":"TestEnvirontmentbot"}},"onError":"continueRegularOutput"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"622f3944-b3fa-4664-82c1-fa7fc4a3875e","leftValue":"={{ $json.result.text }} || {{ $json.result.photo }}","rightValue":"TestEnvironmentBot","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"Text"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"6d657abc-1a7f-4b31-9588-fff71aedd4a9","leftValue":"={{ $json.result.photo }} || {{ $json.result.text }}","rightValue":"","operator":{"type":"boolean","operation":"empty","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"No Input"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.3,"position":[1360,752],"id":"c93c8ecf-d2df-4ad0-a2ab-cf74c6332789","name":"Switch1","alwaysOutputData":true},{"parameters":{"content":"## TIME TRIGGER\nWill trigger at\n8.00AM\n9.00PM\n","height":464,"width":192},"type":"n8n-nodes-base.stickyNote","position":[-192,352],"typeVersion":1,"id":"87c06467-d522-4467-bd12-d3a329eb1119","name":"Sticky Note5"},{"parameters":{"url":"https://api.unsplash.com/photos/random?query=nature&orientation=squarish&content_filter=high&client_id=icHEQVe21tHg9jjipy73j0myX_3gjIEuQ8kRISaLL_8","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[464,976],"id":"8f76f761-a97c-49b1-a0a3-ce3bb8aea38c","name":"Fetch Nature Image1","retryOnFail":true,"waitBetweenTries":2000,"alwaysOutputData":true},{"parameters":{"mode":"runOnceForEachItem","jsCode":"const input = $json;\n\n// Safely extract text from Telegram payload\nconst text = input.message?.text || input.body?.message?.text || \"\";\n\n// Extract everything after \"p:\" (case-insensitive, trims spaces)\nconst result = text.replace(/^p:\\s*/i, \"\").trim();\n\n// Return a single object for this item\nreturn {\n  json: {\n    message: result || \"No text found\",\n  },\n};\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[304,1088],"id":"4ce19e65-9a8e-4f51-b9c6-0fc127f2b89f","name":"Filter Text from @n8nInputTrigger1","alwaysOutputData":true,"executeOnce":false},{"parameters":{"operation":"text","text":"={{ $json.message }}","fontSize":42,"fontColor":"=#FFFFFF","positionX":100,"positionY":900,"lineLength":60,"options":{}},"type":"n8n-nodes-base.editImage","typeVersion":1,"position":[880,1072],"id":"9d5b2ce1-763d-46ff-a549-7417a6a72a30","name":"Edit Image1","alwaysOutputData":true},{"parameters":{"url":"={{$json[\"urls\"][\"regular\"]}}","options":{"response":{"response":{"responseFormat":"file"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[592,976],"id":"da9461eb-ade1-4c14-9365-1f7d7c04bee6","name":"Download Image1","alwaysOutputData":true},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[752,1072],"id":"ef83926d-9d3c-45f6-b6c1-fadce6e06e6f","name":"Merge1","alwaysOutputData":true},{"parameters":{"operation":"sendPhoto","chatId":"360503313","binaryData":true,"additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1616,1072],"id":"12fb7441-6d40-4fc4-818a-f6b298b6a7d0","name":"Sends Success Messages to @n8nerrors1bot","webhookId":"cd030e67-332a-44a7-a254-b8c5b7ccf660","credentials":{"telegramApi":{"id":"Ut5lobZGAyeFs3qb","name":"n8nerror1bot"}}},{"parameters":{"jsCode":"const out = [];\n\nfor (const item of items) {\n  const ok = item.json?.ok === undefined ? true : item.json.ok === true;\n  const binKeys = item.binary ? Object.keys(item.binary) : [];\n  const firstBinKey = binKeys[0];\n  const hasBinary = !!firstBinKey;\n\n  if (ok && hasBinary) {\n    // Clone to preserve raw base64 buffer\n    const binaryData = item.binary[firstBinKey];\n\n    out.push({\n      binary: {\n        data: binaryData,\n      },\n    });\n  }\n}\n\nreturn out;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1376,1072],"id":"6aec7689-a3c7-4ef8-b1e4-f4a659a20536","name":"Check Mssg Sent, Binary Avail","alwaysOutputData":true}],"connections":{"Telegram Trigger":{"main":[[{"node":"Filter Text from @n8nInputTrigger","type":"main","index":0}]]},"Fetch Nature Image":{"main":[[{"node":"Download Image","type":"main","index":0}]]},"Combine Image and Text":{"main":[[]]},"Filter Text from @n8nInputTrigger":{"main":[[{"node":"Fetch Nature Image","type":"main","index":0},{"node":"Merge","type":"main","index":1}]]},"Edit Image":{"main":[[{"node":"Sends Love Messages to @foreverlovereminderbot1","type":"main","index":0}]]},"Downloads Image and Stores in Binary Form":{"main":[[]]},"Code in JavaScript":{"main":[[]]},"Download Image":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Edit Image","type":"main","index":0}]]},"Schedule Trigger 8AM":{"main":[[{"node":"Sentence Randomiser","type":"main","index":0}]]},"Schedule Trigger 9PM":{"main":[[{"node":"Sentence Randomiser","type":"main","index":0}]]},"Telegram Trigger1":{"main":[[{"node":"If1","type":"main","index":0}]]},"If1":{"main":[[{"node":"Filter Text t:","type":"main","index":0}],[{"node":"Filter Text from @n8nInputTrigger1","type":"main","index":0}]]},"Sentence Randomiser":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Filter Text t:":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Messagelast","type":"main","index":0}],[{"node":"Messagelast","type":"main","index":0}]]},"Click Trigger":{"main":[[{"node":"Sentence Randomiser","type":"main","index":0}]]},"Messagelast":{"main":[[{"node":"Sends Love Message","type":"main","index":0}]]},"Sends Love Photo":{"main":[[{"node":"Switch1","type":"main","index":0}]]},"Sends Love Message":{"main":[[{"node":"Switch1","type":"main","index":0}]]},"Switch1":{"main":[[{"node":"Sends Success Messages to @n8nerrors1bot1","type":"main","index":0}],[{"node":"Sends Fail Messages to @n8nerrors1bot","type":"main","index":0}]]},"Fetch Nature Image1":{"main":[[{"node":"Download Image1","type":"main","index":0}]]},"Filter Text from @n8nInputTrigger1":{"main":[[{"node":"Fetch Nature Image1","type":"main","index":0},{"node":"Merge1","type":"main","index":1}]]},"Edit Image1":{"main":[[{"node":"Sends Love Photo","type":"main","index":0},{"node":"Check Mssg Sent, Binary Avail","type":"main","index":0}]]},"Download Image1":{"main":[[{"node":"Merge1","type":"main","index":0}]]},"Merge1":{"main":[[{"node":"Edit Image1","type":"main","index":0}]]},"Check Mssg Sent, Binary Avail":{"main":[[{"node":"Sends Success Messages to @n8nerrors1bot","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger 8AM":{"recurrenceRules":[]},"node:Schedule Trigger 9PM":{"recurrenceRules":[]}},"meta":null,"pinData":{"Schedule Trigger 8AM":[{"json":{"timestamp":"2025-10-20T16:27:10.058+08:00","Readable date":"October 20th 2025, 4:27:10 pm","Readable time":"4:27:10 pm","Day of week":"Monday","Year":"2025","Month":"October","Day of month":"20","Hour":"16","Minute":"27","Second":"10","Timezone":"Asia/Kuala_Lumpur (UTC+08:00)"}}],"Schedule Trigger 9PM":[{"json":{"timestamp":"2025-10-20T16:27:10.058+08:00","Readable date":"October 20th 2025, 4:27:10 pm","Readable time":"4:27:10 pm","Day of week":"Monday","Year":"2025","Month":"October","Day of month":"20","Hour":"16","Minute":"27","Second":"10","Timezone":"Asia/Kuala_Lumpur (UTC+08:00)"}}]},"versionId":"1dbcc258-6dcb-4834-887f-b457844f5675","triggerCount":3,"shared":[{"createdAt":"2025-11-03T19:30:02.643Z","updatedAt":"2025-11-03T19:30:02.643Z","role":"workflow:owner","workflowId":"KSrUo6Q0iXU2eI1h","projectId":"LidTUN3any30bZNY"}],"tags":[]}